body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.nome{
    background-color: rgb(154, 166, 231);
    color: rgb(2, 2, 109);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
}

p{
    color: #636262;
}

.info{
    color: #636262;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -20px;
    width: 50%;
    text-align: center;
}

.obj{
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(2, 2, 110);
    border-bottom: 3px solid rgb(2, 2, 110);
    margin-left: 5%;
    margin-right: 5%;
    background-color: #b3afaf;
    
}

.desc{
    
    color: #636262;
}

p{
    margin-left: 5%;
}


a:link{
    color: blue;
}

a:visited{
    color: blue;
}

.area{
    color: #353434;
}

ul li{
    margin-left: 4%;
}
