body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin-left: 8%;
    margin-right: 8%;
}

.nome{
    background-color: rgb(152, 152, 241);
    padding: 5px;
    text-align: center;
    color: rgb(2, 2, 83);
}

.p1{
    color: #6b6969;
    text-align: center;
    margin-top: -14px;
}

.redes{
    text-align: right;
    a:hover{
        padding: 11px;
    }
}

.git{
    background-color: white;
    padding: 10px;
}

.linkedin{
    background-color: white;
    padding: 10px;
}

.youtube{
    background-color: white;
    padding: 10px;
}

.info{
    background-color: #a7a4a4;
    padding: 10px;
    color: rgb(2, 2, 83);
    border-bottom: 2px solid rgb(2, 2, 104);
}

.sub{
    color: #6b6969;
    font-size: small;
}

a{
    font-weight: bolder;
    text-decoration: none;
    color: blue;
    display: inline-block;
}

ul{
    margin-left: -25px;
}
